*{
    background-color: rgb(38, 16, 88);
    color: white;
}


.fightarea {
    display: flex;
    gap: 20px;
}

#char, 
#monster {
    flex: 1;
}

.lifebar{
    height: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: red;
    border-radius: 5px;
    width: 10%
}

.attackButton {
    background-color: aquamarine;
    color: black;
}

.log{
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}
